# Application Ports
HTTP_ADDR_ACCESS=":8080"
HTTP_ADDR_ADMIN=":8081"
HTTP_ADDR_REPORT=":8082"

# Kafka Settings
KAFKA_BROKERS="kafka:9092"
KAFKA_TOPIC_INOUT="inout-events"
KAFKA_TOPIC_PERMISSION="permission-events"
KAFKA_GROUP_AGGREGATION="aggregation-workers"
KAFKA_GROUP_CACHE="cache-invalidation-workers"

# Redis Settings
REDIS_ADDR="127.0.0.1:6379"

# ClickHouse Settings
CLICKHOUSE_ADDR="127.0.0.1:9000"
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD="your_password_here"
